body{
	  background: white url(../img/bg-tile.png);
	  height: 100%;
}

.off-canvas-wrap,
.inner-wrap{
	height: 100%;
}

.title{
	background: white;
	margin: 20px 0;

}

.button-holder{
	margin-top: 15%;
}